<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="description"
      content="Cutit is a URL shortening platform. It is a free service. No need to login or register. Just paste you url in URL box and get the shorten URL to share on internet.">
<link rel="stylesheet" href="/st/css/style.css"/>
<body>
{% block content %}{% endblock %}


<footer class="center">
    <a href="https://github.com/skrsinghrahul/CutIt" target="_blank"><img src="/st/logo/Octocat.png" height="50"></a>
</footer>
<script src="/st/js/script.js"></script>
</body>
</html>
